// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$pad-card: 10px;
$color-0: red;
$color-1: green;
$color-2: purple;
$card-selected-transform: scale(1.05);
$card-selected-bg: #d4f2f5;

h1{
font-weight: bold;
color: black;
font-family: arial;
font-size:24 em;
text-align: center;

}
h2{
color: black;
font-family: arial;
font-size:24 em;
text-align: center;

}
li{
color: black;
font-family: arial;
font-size:24 em;
text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  max-width:1000px;
}

.card-container {
  position: relative;
  // Each card should have aspect ratio of 1/1.5
  padding-bottom: 150%;
  // invisible checkbox
  input[type="checkbox"] {
    display: none;
    // if checkbox is checked, change style of card
    &:checked + .card {
      transform: $card-selected-transform;
      background: $card-selected-bg;
    }
  }
}

.card {
  position: absolute;
  top: $pad-card;
  bottom: $pad-card;
  left: $pad-card;
  right: $pad-card;
  border-radius: 10px;
  background: white;
  border: 2px solid black;
  padding: 15%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: .1s;
}

.color-0 path {
  stroke: $color-0;
  fill: $color-0;
}
.color-1 path {
  stroke: $color-1;
  fill: $color-1;
}
.color-2 path {
  stroke: $color-2;
  fill: $color-2;
}

#stripes-pattern-0 line {
  stroke: $color-0;
}
#stripes-pattern-1 line {
  stroke: $color-1;
}
#stripes-pattern-2 line {
  stroke: $color-2;
}

.style-1 path {
  stroke-width: 4px;
  fill: transparent !important;
}
.style-2 {
  path {
    stroke-width: 4px;
  }
  &.color-0 path {
    fill: url(#stripes-pattern-0);
  }
  &.color-1 path {
    fill: url(#stripes-pattern-1);
  }
  &.color-2 path {
    fill: url(#stripes-pattern-2);
  }
}
